@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    margin: 0;padding: 0;box-sizing: border-box;font-family: 'Shadows Into Light', cursive;
}

.mainhead{
    margin: 10px;
    text-align: center;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.box{
    margin: 20px;
    width: 350px;
    height:230px;
    background-color: antiquewhite;
    border-radius: 10px;
    transition: 0.5s;
}
.box:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.664);

}

.a{
    background-image: url(img01.jpg);
    background-size: cover;
}
.b{
    background-image: url(img02.jpg);
    background-size: cover;
}
.c{
    background-image: url(img03.jpg);
    background-size: cover;
}
.d{
    background-image: url(img04.jpg);
    background-size: cover;
}
.e{
    background-image: url(img05.jpg);
    background-size: cover;
}
.f{
    background-image: url(img06.jpg);
    background-size: cover;
}
.g{
    background-image: url(img07.jpg);
    background-size: cover;
}
.h{
    background-image: url(img08.jpg);
    background-size: cover;
}
.i{
    background-image: url(img09.jpg);
    background-size: cover;
}

.made{
    width: 100%;
    height: 20%;
    
}
.made h5{
    font-size: 20px;
    margin: 50px;
    text-align: center
}